.logmain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://res.cloudinary.com/dd5l5ltp8/image/upload/v1688994771/containerimage_smg7ci.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:1706px;
  }
  
  .login {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
   
    width:300px;


  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:goldenrod;
    margin-left: 800px;
   

   
  }
  
  label {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 250px;
  }
  
  .logbut {
    background-color:#32a8a4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  
  
  .register-link {
    text-decoration: none;
    color: #007bff;
    margin-top: 10px;
    font-size: 14px;
  }